<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching enabled="false" />
        <directoryBrowse enabled="false" />
        <modules>
            <remove name=".php" />
        </modules>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1000000000" maxUrl="4096000" maxQueryString="2048000" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
